header {
  text-align: center;
  color: #353535;
  font-weight: bold;
  font-size: 60px;
  font-family: "Montserrat";
  letter-spacing: 3px;
  padding: 30px;
}
body {
  background-color: #fafafa;
  font-family: "Monserrat";
  font-size: 25px;
  font-weight: bold;
  color: #5e5d5d;
}
img {
  width: 250px;
  padding-left: 5%;
}
.graphlogo {
  padding-top: 3%;
}



.stats {
  margin-left: 8%;
  padding-top: 1%;
}

.icon {
  padding-left: 20%;
  padding-bottom: 3%;
}

.previous {
  width: 100px;
  height: 75px;
}

.gendergraph {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: conic-gradient(#ffdcfe 0deg 128.16deg, #66d3fd 128.26deg 360deg);
  margin: auto;
}

.survivorgraph {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: conic-gradient(#51ee85 0deg 222.48deg, #e00f3c 222.48deg 360deg);
  margin: auto;
}

.agegraph {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(#51ee85 0deg 32.35deg, #e00f3c 32.35deg 67.45deg, #66d3fd 67.45deg 346.22deg, #fcba03 346.22deg 360deg);
    margin: auto;
  }